.monsterViewContainer {
  background-color: #000;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://img3.goodfon.com/original/1920x1080/d/e4/the-witcher-3-wild-hunt-6639.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.mainMonsterInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.monsterName {
  font-size: 1.25em;
  font-weight: 700;
  /* color: #c12b13; */
  margin: 0;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

.monsterType {
  font-size: 1em;
  font-weight: 700;
  margin: 0;
  color: #cecece;
  /* color: #c12b13; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
